<section class="flex-center flex-column bg--grey-xlight spacer-medium--top spacer-medium--bottom">
  <div class="container carousel-title">
    <h2>
      Area-based commitments to achieve the aims of the Sharm El-Sheikh to Kunming Action Agenda for Nature 
      and People in support of the post-2020 global biodiversity framework
    </h2>
  </div>
  <div>
    Links to proposed goals and targets of the post-2020 global biodiversity framework
  </div>
</section>