<section class="flex-center flex-column bg--grey-xlight spacer-medium--top spacer-medium--bottom">
  <h2>Biodiversity Target Related Area-Based Commitments</h2>
  <div>
    Links to proposed goals and targets of the post-2020 global biodiversity framework
  </div>
</section>