<section class="container bg--grey-xlight spacer-medium--top spacer-medium--bottom">
  <h2>Biodiversity Target Related Area-Based Commitments</h2>
  <div class="future">
    <%= image_tag 'placeholder/carousel.png', alt: 'Placeholder image of carousel feature' %>
  </div>
</section>