<section class="flex-center flex-column bg--grey-xlight spacer-medium--top spacer-medium--bottom">
  <div class="container carousel-title">
    <h2>
      <%= I18n.t('dashboard.carousel.title').html_safe %>
    </h2>
  </div>
  <div>
    <%= I18n.t('dashboard.carousel.subheading') %>
  </div>
</section>