<div class="topbar--secondary">
  <img src="" alt="Logo">
  
  <nav class="nav--primary">
    <%= link_to 'Make a Commitment' %>
    <%= link_to 'Explore Commitments' %>
    <%= link_to 'About' %>
  </nav>
</div>