<section>
  <h2 class="h2--full-width">Explore Commitments</h2>
  
  <map-section>
  </map-section>
  <div class="future">
    <%= image_tag 'placeholder/map.png', alt: 'Placeholder image of map feature' %>
  </div>
</section>g