<div class="topbar--primary">
  <%= link_to 'CBD Action Agenda', 'https://www.cbd.int/action-agenda/', title: 'Visit the Action Agenda website', target: '_blank' %>
  <%= link_to I18n.t('user.links.login.button'), new_user_session_url, title: I18n.t('user.links.login.title') %>
</div>