//----------------------------------------
// classes
//----------------------------------------
.dashboard-navigation {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.dashboard-navigation__item {
  font-size: rem-calc(18);
  font-weight: $bold;
  list-style: none;

  display: flex;

  &:first-child {
    border-bottom: 1px solid $green-dark;
    color: $green-dark;
    margin-right: rem-calc(28);
    padding-bottom: rem-calc(8);
  }

  &:last-child {
    color: $grey-xxdark;
  }
}

.dashboard-navigation__item-link {
  text-decoration: none;
}