//----------------------------------------
// classes
//----------------------------------------
.dashboard-navigation {
  margin-top: rem-calc(34);
  margin-bottom: rem-calc(20);

  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.dashboard-navigation__item {
  font-family: $header-font;
  font-size: rem-calc(18);
  font-weight: $bold;
  list-style: none;

  display: flex;

  &:first-child {
    border-bottom: 1px solid $green-dark;
    color: $green-dark;
    margin-right: rem-calc(28);
  }

  &:last-child {
    color: $grey-xxdark;
  }
}

.dashboard-navigation__item-link {
  line-height: 1.4;
  text-decoration: none;
}