<footer class="footer">
  <div class="footer__container">
    <nav class="nav--footer">
      <ul class="nav__ul">
        <% links.each do |link| %>
          <li class="nav__li">
            <% if link[:url] != 'not a link' %>
              <%= link_to link[:title], link[:url], class: 'nav__a' %>
            <% else %>
              <div class= "nav__contact-us">
                <%= link[:title] %>
              </div>
            <% end %>
          </li>
        <% end %>
      </ul>
    </nav>

    <div class="list--footer-logos">
      <ul class="list__ul">
        <% logos.each do |logo| %>
          <li class="list__li">
            <%= image_tag logo[:src], alt: logo[:alt], class: 'list__img' %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</footer>