//--------------------------------------------------
// variables
//--------------------------------------------------

//--------------------------------------------------
// mixins
//--------------------------------------------------

//--------------------------------------------------
// classes
//--------------------------------------------------
.sv-body {
  font-family: $body-font;
  min-height: 75vh;
  .sv-title {
    font-family: $header-font;
  }
}