//----------------------------------------
// classes
//----------------------------------------
.table {
  margin-top: rem-calc(30);
  margin-bottom: rem-calc(24);

  display: block;

  @include breakpoint($medium) { margin-top: 0; }

  &__row {
    @include table-grid-basic;
    border: solid 1px $grey-light;
    margin-top: rem-calc(16);
    margin-bottom: rem-calc(16);
    padding: rem-calc(6 0);

    @include breakpoint($medium) { 
      padding: 0;
    }

    &:nth-child(even) { 
      @include breakpoint($medium) { background-color: $white; }
    }
  }

  &__cell {
    margin: 0;
    padding: rem-calc(18 14);
    width: 100%;

    @include breakpoint($medium) {
      padding: rem-calc(16 18);
      
      align-items: center;
      display: inline-grid;
      justify-content: flex-start;
    }

    &:first-child { border-left: none; }

    &:before {
      font-weight: $bold; 
      margin-right: rem-calc(6);

      @include breakpoint($medium){ display: none; }
    }

    &:nth-child(n+2) { font-weight: $bold; }
    // Add copy for the table header
    // These are shown on mobile and tablet
    // Check pame_evalutation.rb for the copy
    &:nth-child(1) { &:before { content: 'Name:'; } }
    &:nth-child(2) { &:before { content: 'Committed :'; } }
    &:nth-child(3) { &:before { content: 'Duration:'; } }
    &:nth-child(4) { &:before { content: 'Stage:'; } }
    &:nth-child(5) { &:before { content: ''; } }

    &--icons {
      padding-right: rem-calc(50);

      display: flex;
      justify-content: space-between;
    }
  }

  &__cell-title { 
    font-weight: $bold;
    
    display: block;
  }

  &__cell-icon {
    height: rem-calc(30);

    display: flex;
  }

  &__sorting {
    opacity: .7;
    vertical-align: middle;

    display: inline-block;

    &:hover { opacity: .9; }
  }

  &__sort {
    cursor: pointer;
    width: rem-calc(8); height: rem-calc(6);

    display: block;

    &--ascending {
      background-image: image-url('icons/arrow-up-white.svg');
      margin-bottom: rem-calc(1);
    }

    &--descending {
      background-image: image-url('icons/arrow-down-white.svg');
    }
  }

  &__button {
    @include button-accent;
  }
}
