//----------------------------------------
// animations
//----------------------------------------
@keyframes showHeader {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}

//----------------------------------------
// classes
//----------------------------------------
.table-head {
  margin-top: rem-calc(30);
  height: rem-calc(56);

  display: none;

  @include breakpoint($medium) { display: block; }

  &__sticky {    
    &--stuck {
      width: rem-calc(1140);
      
      position: fixed;
      top: 0;
  
      animation: showHeader .25s forwards linear;
    }

    .table-head--basic & {
      background-color: $primary;
      color: $white;
    }

    .table-head--dashboard & {
      background-color: $grey-mdmdlight;
      color: $black;
    }
  }

  &__row {
    @include table-grid-basic;

    @include breakpoint($medium) { 
      padding: rem-calc(0 11);
    }
  }

  &__cell {
    font-size: rem-calc(16);
    font-weight: $bold;
    padding: rem-calc(21 18);
    height: rem-calc(57);

    display: grid;
    align-items: center;
    justify-content: flex-start;

    &:first-child { border-left: none; }
  }

    &__title {
      margin-right: rem-calc(2);
      vertical-align: middle;

      display: inline-block;
    }
}
