//--------------------------------------------------
// form navigation
//--------------------------------------------------
.form-navigation__items {
  display: flex;
  justify-content: space-between;
}

.form-navigation__items-side {
  display: flex;

  &.form-navigation__items-side--right {
    align-items: center;
  }
}

.form-navigation__item {
  font-size: rem-calc(18);
  line-height: rem-calc(18); // helps the icon align with the text where present

  &.form-navigation__item--first-page-left {
    @include button-outline-condensed-taller($black, rem-calc(2));
    font-weight: $bold;
  }

  &.form-navigation__item--rightmost {
    @include button-accent-condensed-taller;
  }

  &.form-navigation__item--next-commitment {
    position: relative;

    &:after {
      background-image: image_url("icons/chevron-right-white.svg"); // couldn't work out how to get it working as a component in the Rails Vue setup
      background-repeat: no-repeat;
      background-size: contain;
      content: '';
      margin-left: rem-calc(8);
      width: rem-calc(12 / 19 * 13.4); // 12 width / 19 height * height specified below
      height: rem-calc(13.4);
    }
  }

  &.form-navigation__item--back {
    @include button-grey-light;
    position: relative;

    &:before {
      background-image: image_url("icons/chevron-left-black.svg"); // couldn't work out how to get it working as a component in the Rails Vue setup
      background-repeat: no-repeat;
      background-size: contain;
      content: '';
      margin-right: rem-calc(8);
      width: rem-calc(12 / 19 * 13.4); // 12 width / 19 height * height specified below
      height: rem-calc(13.4);
    }
  }

  &.form-navigation__item--save-middle-page {
    @include button-basic;
    font-family: $header-font;
    font-weight: $bold;
    line-height: $header-font-line-height;
    margin-right: $spacer-small-desktop;
    text-decoration: underline;
  }

  &:not(.form-navigation__item--save-middle-page) {
    width: rem-calc(235);
    min-height: rem-calc(67);

    justify-content: center;
  }
}