//--------------------------------------------------
// variables
//--------------------------------------------------

//--------------------------------------------------
// mixins
//--------------------------------------------------

//--------------------------------------------------
// classes
//--------------------------------------------------
.sv-title {
  font-family: unset;
  font-family: $header-font;
}

.survey-container.sv-root-modern {
  font-family: unset;
  font-family: $body-font;
  color: $body-font-colour;

  .sv-container-modern {

    &__title {
      
        // font-family: unset;
        // font-size: rem-calc(48);
        // font-family: $body-font;
        // color: $body-font-colour;
      
    }
  }
}
