<header class="hero--home">
  <div class="hero__container">
    <div class="hero__content">
      <h1>Capturing Area-Based Commitments</h1>
      <p>Capturing Area-Based Commitments</p>
      <div>
        <img src="" alt="UNEP-WCMC">
        <img src="" alt="CBD">
      </div>
    </div>
  </div>
</header>