<header class="hero--basic">
  <div class="hero__container container">
    <h1><%= title %></h1>
    <div class="hero__call-to-action">
      <h2><%= I18n.t('views.commitments.call_to_action.heading') %></h2>
      <a href="/criteria/new" title="Add a commitment">
        <%= I18n.t('views.commitments.call_to_action.link') %>
      </a>
    </div>
  </div>
</header>