//--------------------------------------------------
// variables
//--------------------------------------------------
$icon-search-width: rem-calc(21);

//--------------------------------------------------
// shared mixins
//--------------------------------------------------
@mixin icon-basic() {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;

  display: block;
}

@mixin icon-image($filename, $width, $height) {
  background-image: image_url("icons/#{$filename}");
  width: $width; height: $height;
}

@mixin icon-button-reset() {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
}

@mixin icon-circle-chevron($mobile: rem-calc(34), $tablet: rem-calc(34), $desktop: rem-calc(34)) {
  @include icon-basic;
  @include responsive(width, $mobile, $tablet, $desktop);
  @include responsive(height, $mobile, $tablet, $desktop);
}

//--------------------------------------------------
// mixins for specific classes
//--------------------------------------------------
@mixin icon-aichi() {
  @include responsive(width, rem-calc(85), rem-calc(85), rem-calc(90));
  @include responsive(height, rem-calc(85), rem-calc(85), rem-calc(90));
  margin-bottom: rem-calc(20);

  display: block;
}

@mixin icon-arrow-external() {
  @include icon-basic;
  @include icon-image('arrow-external.svg', rem-calc(25), rem-calc(12));
}

@mixin icon-arrow-external-white() {
  @include icon-basic;
  @include icon-image('arrow-external-white.svg', rem-calc(17), rem-calc(12));
}

@mixin icon-burger() {
  @include icon-basic;
  @include icon-image('burger.svg', rem-calc(24), rem-calc(15));
}

@mixin icon-certificate() {
  @include icon-basic;
  @include icon-image('certificate.svg', rem-calc(60), rem-calc(60));
}

@mixin icon-close() {
  @include icon-basic;
  @include icon-image('close.svg', rem-calc(29), rem-calc(29));
}

@mixin icon-cross() {
  @include icon-basic;
  @include icon-image('cross.svg', rem-calc(20), rem-calc(20));
}

@mixin icon-cross-small() {
  @include icon-basic;
  @include icon-image('cross.svg', rem-calc(11), rem-calc(11));
}

@mixin icon-cross-white() {
  @include icon-basic;
  @include icon-image('cross-white.svg', rem-calc(20), rem-calc(20));
}

@mixin icon-chevron-down() {
  @include icon-basic;
  @include icon-image('chevron-down.svg', rem-calc(20), rem-calc(12));
}

@mixin icon-chevron-left() {
  @include icon-basic;
  @include icon-image('chevron-left.svg', rem-calc(12), rem-calc(20));
}

@mixin icon-chevron-right() {
  @include icon-basic;
  @include icon-image('chevron-right.svg', rem-calc(12), rem-calc(20));
}

@mixin icon-chevron-up() {
  @include icon-basic;
  @include icon-image('chevron-up.svg', rem-calc(20), rem-calc(12));
}

@mixin icon-climate() {
  @include icon-basic;
  @include icon-image('climate.svg', rem-calc(60), rem-calc(60));
}

@mixin icon-earth() {
  @include icon-basic;
  @include icon-image('earth.svg', rem-calc(60), rem-calc(60));
}

@mixin icon-filters() {
  @include icon-basic;
  @include icon-image('filter.svg', rem-calc(19), rem-calc(13));
}

@mixin icon-info() {
  @include icon-basic;
  @include icon-image('info.svg', rem-calc(23), rem-calc(23));
}

@mixin icon-loading-spinner() {
  @include icon-basic;
  @include icon-image('loading-spinner.svg', rem-calc(40), rem-calc(40));
}

@mixin icon-minus-white() {
  @include icon-basic;
  @include icon-image('minus-white.svg', rem-calc(22), rem-calc(20));
}

@mixin icon-pin {
  @include icon-basic;
  @include icon-image('pin.svg', rem-calc(17), rem-calc(25));
}

@mixin icon-placeholder-image() {
  @include icon-basic;
  @include icon-image('image.svg', rem-calc(114), rem-calc(91));
}

@mixin icon-search() {
  @include icon-basic;
  @include icon-button-reset;
  @include icon-image('search.svg', $icon-search-width, rem-calc(23));
}

@mixin icon-search-green() {
  @include icon-basic;
  @include icon-image('search-green.svg', $icon-search-width, rem-calc(23));
}

@mixin icon-search-white() {
  @include icon-basic;
  @include icon-button-reset;
  @include icon-image('search-white.svg', $icon-search-width, rem-calc(23));
}

@mixin icon-tooltip() {
  @include icon-basic;
  @include icon-image('tooltip.svg', rem-calc(20), rem-calc(20));
}

@mixin icon-sort() {
  @include icon-button-reset;

  &::before {
    @include triangle(rem-calc(8), rem-calc(7), $grey); // ($base, $height, $color, $direction:'up')
    content: '';
    margin-bottom: rem-calc(1);

    display: block;
  }

  &::after {
    @include triangle(rem-calc(8), rem-calc(7), $grey, 'down'); // ($base, $height, $color, $direction:'up')
    content: '';

    display: block;
  }
}

@mixin icon-tick {
  @include icon-basic;
  background-image: image-url('icons/tick.svg');
}