<%= render partial: '/partials/topbar/topbar-primary' %>
<%= render partial: '/partials/topbar/topbar-secondary' %>

<%= render partial: '/partials/hero/hero-basic', 
  locals: { title: 'Explore Area-Based Commitments'} 
%>

<h1>TABLE GOES HERE</h1>