<div class="bg--grey-xlight">
  <div class="container spacer-medium--top spacer-large--bottom">
    New commitment page
    <survey-form
      modal-question-body="<%="<p>#{I18n.t('form.commitments.modal.p1')}</p><p><b>#{I18n.t('form.commitments.modal.p2.prefix')}*</b> #{I18n.t('form.commitments.modal.p2.content')}</p>"%>"
      :modal-text="<%=I18n.t('form.commitments.modal').to_json%>"
      data-model="Commitment"
      :navigation-text="<%=I18n.t('form.commitments.navigation').to_json%>"
    >
    </survey-form>
  </div>
</div>
