New commitment page

<div class="container spacer-medium--top spacer-large--bottom">
  <form-commitment 
    :modal-text="<%=I18n.t('form.commitments.modal').to_json%>"
    :navigation-text="<%=I18n.t('form.commitments.navigation').to_json%>"
  />
</div>
