<section>
  <div>
    <p>Information updated: XXXX</p>
    <p>ID: XXXX</p>

    <h1>COMMITMENT TITLE</h1>
    <p>Lorem Ipsum..... not sure what field this is?</p>

    <p>Planned actions:</p>
    
  </div>

  <div>
    <h2>Status: STATUS</h2>
    <ul>
      <li class="list__li">
        <span class="list__subtitle">Actor:<span>
        <span class="list__text">COMPANY NAME</span>
        <span class="list__text">COMPANY WEBSITE</span>
      </li>
      <li class="list__li">
        <span class="list__subtitle">Current area:<span>
        <span class="list__text">XXXX</span>
      </li>
      <li class="list__li">
        <span class="list__subtitle">Proposed area:<span>
        <span class="list__text">XXXX</span>
      </li>
      <li class="list__li">
        <span class="list__subtitle">Year of commitment:<span>
        <span class="list__text">XXXX</span>
      </li>
      <li class="list__li">
        <span class="list__subtitle">Year of implementation:<span>
        <span class="list__text">XXXX</span>
      </li>
      <li class="list__li">
        <span class="list__subtitle">Duration:<span>
        <span class="list__text">XXXX</span>
      </li>
      <li class="list__li">
        <span class="list__subtitle">Country Location:<span>
        PIN ICON
        <span class="list__text">XXXX</span>
      </li>
      <li class="list__li">
        <span class="list__subtitle">Linked from platform:<span>
        <% link_to 'XXXX', '#', title: '####', target: '_blank' %>
      </li>
    </ul>
  </div>
</section>

<section>
  <div>
    <h3>Primary Objectives</h3>
    <ul>
      <% @primary_objectives.each do |objective| %>
        <li>
          list item
        </li>
      <% end %>
    </ul>
  </div>

  <div>
    <h3>Governance Authority</h3>
    <p>XXXX</p>
    <p>Governance type</p>
    <span>XXXX</span>
  </div>

  <div>
    <h3>Related Biodiversity Targets</h3>
  </div>

  <div>
    <h3>Additional Targets</h3>
  </div>
</section>
