//--------------------------------------------------
// classes
//--------------------------------------------------
.devise {
  min-height: 100vh;

  display: grid;
  grid-template-columns: 7fr 5fr;
}

.devise-panel {
  &:last-child {
    background-color: $green-dark;

    display: flex;
    justify-content: center;

    position: relative;

    .devise-panel__background-image {
      opacity: 0.16;
      width: 100%;
      height: 100%;

      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      -o-object-fit: cover;
      object-fit: cover;
      z-index: 1;
    }
  }
}