//--------------------------------------------------
// footer
//--------------------------------------------------
.footer {
  background-color: $primary;
  border-bottom: solid 14px $black;
  color: $white;
  height: rem-calc(170);

  display: flex;
  align-items: center;

  &--reduced {
    height: 0;
  }

  &__container {
    @include container;
    @include flex;
    @include flex-h-between;
  }
}