//--------------------------------------------------
// mixins
//--------------------------------------------------
@mixin hero-background($path) {
  @include bg-image-overlay;
  background-color: $grey-dark;
  background-image: image_url($path);
  background-size: cover;
  color: $white;
}

//--------------------------------------------------
// basic
//--------------------------------------------------
.hero--basic {
  @include flex;
  @include flex-v-center;
  @include hero-background('hero/amir-samoh-WgV0g05NQCM-unsplash.png');
  height: rem-calc(340);

  &::before {
    all: unset;
  }

  .hero__container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    h1 {
      font-family: $header-font;
      margin-bottom: 0;
      max-width: rem-calc(390);
    }
  }

  .hero__call-to-action {
    background-color: $grey-black-translucent;
    border: rem-calc(1) solid $white;
    border-radius: rem-calc(4);
    font-family: $header-font;
    padding: rem-calc(50) rem-calc(40);
    text-align: center;
    width: rem-calc(267);
    height: rem-calc(275);

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    h2 {
      font-size: rem-calc(30);
    }

    a {
      @include button-accent-condensed-taller;
      width: 100%;

      display: flex;
      justify-content: center;
    }
  }
}

//--------------------------------------------------
// home
//--------------------------------------------------
.hero--home {
  @include hero-background('hero/adrian-bar-lruGiwfIIOo-unsplash.png');
  min-height: rem-calc(524);

  .hero__container {
    @include container-medium;
    padding-top: rem-calc(100);
  }

  .hero__content {
    width: 60%;
  }

  .hero__title {
    font-family: $header-font;
    margin-bottom: rem-calc(15);
  }

  .hero__subtitle {
    font-family: $header-font;
    font-size: rem-calc(21);
    font-weight: $bold;
    margin-top: 0;
    margin-bottom: rem-calc(40);
  }

  .hero__button {
    @include button-accent-condensed-taller;
    @include responsive(padding-right, rem-calc(43), rem-calc(43), rem-calc(43));
    @include responsive(padding-left, rem-calc(43), rem-calc(43), rem-calc(43));
  }
}

//--------------------------------------------------
// about
//--------------------------------------------------
.hero--about {
  @include container;
  @include flex;
  @include flex-v-center;
  @include hero-background('hero/amir-samoh-WgV0g05NQCM-unsplash.png');

  font-family: $header-font;
  line-height: 1.5;
  height: rem-calc(340);

  .hero__container {
    margin: 0 12rem;
    padding-right: 20rem;
    text-align: left;
  }
}