//--------------------------------------------------
// mixins
//--------------------------------------------------
@mixin hero-background($path) {
  @include bg-image-overlay;
  background-color: $grey-dark;
  background-image: image_url($path);
  background-size: cover;
  color: $white;
}

//--------------------------------------------------
// basic
//--------------------------------------------------
.hero--basic {
  @include flex;
  @include flex-v-center;
  @include hero-background('hero/amir-samoh-WgV0g05NQCM-unsplash.png');
  text-align: center;
  height: rem-calc(340);

  .hero__container {
    @include container;
  }
}

//--------------------------------------------------
// home
//--------------------------------------------------
.hero--home {
  @include hero-background('hero/adrian-bar-lruGiwfIIOo-unsplash.png');
  min-height: rem-calc(524);

  .hero__container {
    @include container-medium;
    padding-top: rem-calc(100);
  }

  .hero__content {
    width: 60%;
  }

  .hero__title {
    margin-bottom: rem-calc(15);
  }

  .hero__subtitle {
    font-size: rem-calc(21);
    font-weight: $bold;
    margin-top: 0;
    margin-bottom: rem-calc(40);
  }

  .hero__button {
    @include button-accent-condensed-taller;
    @include responsive(padding-right, rem-calc(43), rem-calc(43), rem-calc(43));
    @include responsive(padding-left, rem-calc(43), rem-calc(43), rem-calc(43));
  }
}