//--------------------------------------------------
// mixins
//--------------------------------------------------
@mixin nav-basic {
  font-size: rem-calc(18);
  font-weight: $bold;
  text-decoration: none;
  text-transform: uppercase;

  .nav__ul {
    @include ul-unstyled;
  }

  .nav__a {
    font-family: $header-font;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

//--------------------------------------------------
// primary
//--------------------------------------------------
.nav--primary {
  list-style: none;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: space-between;

  .nav {
    &__item {
      display: flex;
      align-items: center;

      &:not(:first-child) {
        .nav__link {
          text-decoration: none;
        }
      }

      &:last-child {
        background-color: $green;
        color: $black;
        height: 100%;
        
        .nav__link {
          line-height: rem-calc(44);
          padding: 0 rem-calc(33);
        }
      }
    }

    &-dropdown {
      background-color: $green;
      cursor: pointer;
      padding: 0 rem-calc(33);
      height: 100%;
  
      display: flex;
      align-items: center;

      position: relative;
    
      &__icon {
        display: flex;

        &--user {
          margin-right: rem-calc(9);
          width: rem-calc(28);
          height: rem-calc(28);  
        }

        &--chevron {
          width: rem-calc(15.4);

          transform: rotate(0);
          transition: transform 0.3s ease;
          
        }

        &--chevron-open {
          transform: rotate(180deg);
        }          
      }
  
      &__list {
        background-color: $green;
        padding: 0;
        min-width: rem-calc(196);
  
        position: absolute;
        top: rem-calc(44);
        right: 0;
        z-index: 50;
      }
      
      &__list-item {
        color: $black;
        list-style: none;
        width: 100%;

        &:hover {
          background-color: $green-light;
        }
      }

      &__link {
        padding: rem-calc(10) 0 rem-calc(10) rem-calc(29);
        text-decoration: none;
        width: 100%;

        display: flex;
      }
    }
  }
}

//--------------------------------------------------
// secondary
//--------------------------------------------------
.nav--secondary {
  @include nav-basic;
  text-align: center;
  width: 100%;

  .nav__li {
    margin: 0 rem-calc(14);
    display: inline;

    &:first-child {
      .nav__a::before {
        background-image: image-url('icons/home.svg');
        content: '';
        margin-right: rem-calc(8);
        width: rem-calc(15);
        height: rem-calc(15);

        display: inline-block;
      }
    }
  }
}

//--------------------------------------------------
// footer
//--------------------------------------------------
.nav--footer {
  @include nav-basic;
  color: $white;
  column-count: 2;

  .nav__a {
    margin-right: rem-calc(30);
    margin-bottom: rem-calc(8);
  }

  .nav__contact-us {
    text-transform: none;
  }
}
