//--------------------------------------------------
// variables
//--------------------------------------------------

//--------------------------------------------------
// mixins
//--------------------------------------------------

//--------------------------------------------------
// classes
//--------------------------------------------------
.pagination {
  &__content {
    @include flex;
    @include flex-h-end;
    @include flex-v-center;
    // @include text-pagination;
  }

  &__button {
    color: $grey-xxdark;
    font-size: rem-calc(16);
    font-weight: 700;

    &:not(:last-child) {
      margin-right: rem-calc(11);
    }

    &--next { 
      @include button-next; 
    
      &.disabled { @include button-disabled; }
    }
  
    &--previous {
      @include button-prev;
      
      &.disabled { @include button-disabled; }
    }

    &--current-page {
      @include button-previous-next;
      background-color: $green-dark;
      color: $white;
      cursor: not-allowed;
    }
  
    &--non-current-page {
      @include button-previous-next;
    }
  
    &--ellipsis {
      @include button-previous-next;
      @include button-disabled;
    }
  }


  &__no-results {
    // @include text-pagination-no-results;
    color: $grey-dark;
    font-weight: bold;
    margin: rem-calc(60 0);
    text-align: center;
  }
}