//--------------------------------------------------
// primary
//--------------------------------------------------
.topbar--primary {
  @include flex;
  @include flex-v-center;
  @include gutters;
  background-color: $primary;
  color: $white;
  font-family: $header-font;
  font-weight: $bold;
  height: rem-calc(44); 
}

//--------------------------------------------------
// secondary
//--------------------------------------------------
.topbar--secondary {
  @include flex;
  @include flex-h-between;
  @include flex-v-center;
  @include gutters;
  background-color: $white;
  height: rem-calc(116); 
}